name: "dataUpdate"

on:
  schedule:
    - cron: '30 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    steps:
    - uses: actions/checkout@v5
    - name: Update Data
      run: sh ./main.sh
    - name: setting git
      run: |
        git config --local user.email ${{ secrets.EMAIL }}
        git config --local user.name "KamekureMaisuke"
        git add .
        git commit -m "update current_data $(date '+%Y%m%d')"
        git push origin main
